@import "main";

body {
  color: map-get($color, dark);
}

a {
  color: map-get($color, dark);
}
/*Header*/

.logo {
  circle {
    transition: 0.5s ease;
  }
}

.logo:hover {
  circle {
    stroke: transparent;
    fill: map-get($color, accent);
  }
}

.about-state {
  cursor: none;
}

.work-state:hover {
  transform: scale(1.2);
}

.current {
  background-color: map-get($color, dark);
}

/*Side Bar*/

.icon {
  fill: map-get($color, dark);
}
.bar {
  background: map-get($color, dark);
}

.handler {
  background-color: map-get($color, dark);
  height: 80px;
  width: 4px;
  margin-top: -8rem;
}

/*Section1*/

.section1 {
  background-color: map-get($color, universal);
  z-index: 2;
}

.smalltitle {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  .titleLine {
    margin-left: 0.5rem;
    height: 1px;
    width: 5rem;
    background-color: map-get($color, dark);
  }
}

.hero-line {
  position: relative;
  width: 70vw;
  margin: 0 auto;
  color: map-get($color, dark);
  transition: 1s ease;
  z-index: 10;
  .title {
    color: map-get($color, dark);
    font-size: 4rem;
    letter-spacing: 0;
    font-weight: 700;
  }
  .subtitle {
    width: 28rem;
  }
}

.intro-background {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 5;

  img {
    transition: 1s ease;
  }

  .intro-main {
    position: absolute;
    width: auto;
    height: auto;
    right: 10rem;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    z-index: 5;
    filter: grayscale(1);
  }
  .intro-object {
    position: relative;
    &:nth-child(2) {
      width: 4rem;
      bottom: 13rem;
      left: 9rem;
    }
    &:nth-child(3) {
      width: 10rem;
      bottom: -15rem;
      left: 43rem;
      z-index: 6;
    }
    &:nth-child(4) {
      width: 1rem;
      bottom: -4rem;
      right: -20rem;
    }
    &:nth-child(5) {
      bottom: 22rem;
      left: -25rem;
    }
    &:nth-child(6) {
      bottom: 18rem;
      left: -20rem;
    }
    &:nth-child(7) {
      width: 5rem;
      bottom: 8rem;
      left: 7rem;
    }
    &:nth-child(8) {
      width: 10rem;
      bottom: 4rem;
      left: -15rem;
      z-index: 6;
    }
  }
}

/*Scroll down Call of action*/
.guideline {
  background-color: map-get($color, dark);
}

/*Section2*/

.section2 {
  background-color: map-get($color, universal);
  z-index: 20;
  .cv-section {
    top: 2rem;
    margin: 0 auto;
    display: flex;
    width: 70vw;
    position: relative;
  }
  .cv-exp {
    margin-bottom: 2rem;
    .cv-exp-col1 {
      width: 13rem;
    }
  }
}

/*Eep Edu*/
.cv-exp-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .cv-exp-list-title {
    width: 20rem;
  }
  .cv-exp-list-content {
    margin-left: 2rem;
  }
}

/*Cap*/
.cv-cap {
  .cv-cap-col1 {
    width: 13rem;
  }
  .cv-cap-col2 {
    width: 20rem;
  }
  .cv-cap-col3 {
    margin-left: 2rem;
  }
}

/*Contact section*/

.section5 {
  background-color: map-get($color, universal);
}

.arrow {
  padding-left: 1rem;
  transform: rotate(180deg);
}

.page-cta:hover > .arrow {
  transform: rotate(180deg) translateX(10px);
}

/*Responsive*/

@media screen and (max-width: 800px) {
  .hamburger-line {
    background-color: map-get($color, dark);
  }

  .nav-link {
    background-color: map-get($color, universal);
  }

  /*Main-section*/

  .section {
    width: 100%;
    display: flex;
  }

  .section1,
  .section5 {
    height: 100vh;
    align-items: center;
  }
  .section2 {
    padding-bottom: 2rem;
  }
  /*Intro*/

  .hero-line {
    width: 65vw;
    .title {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .subtitle {
      width: 50vw;
    }
  }

  /*CV section*/
  .section2 {
    flex-wrap: wrap;
    .cv-section {
      width: 65vw;
    }
  }
  .cv-section {
    flex-wrap: wrap;
  }

  .cv-exp-col1,
  .cv-cap-col1 {
    margin-bottom: 1.5rem;
  }
  .cv-exp-list {
    margin-bottom: 2rem;
    .cv-exp-list-title {
      margin-bottom: 1rem;
      font-weight: 500;
    }
    .cv-exp-list-content {
      margin-left: 0;
    }
  }

  .cv-cap {
    line-height: 1.5rem;
    .cv-cap-col2 {
    
      margin-bottom: 2rem;
    }
    .cv-cap-col3 {
      
      margin-left: 0;
    }
  }

  /*Intro background*/

  .intro-background{
    display: none;
  }
}


@media screen and (max-width: 375px) {
  
  .cv-exp-list{
    .cv-exp-list-title{
      width: 100%;
    }
  } 
}
