@import "main";

/*Global Style*/
body {
  color: map-get($color, dark);
  background: rgb(238, 238, 238);
  background: radial-gradient(circle, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
}

a {
  color: map-get($color, dark);
}

p {
  line-height: 1.5rem;
}
/*Header*/

.logo {
  circle {
    transition: 0.5s ease;
  }
}

.logo:hover {
  circle {
    stroke: transparent;
    fill: map-get($color, accent);
  }
}

.about-state {
  cursor: none;
}

.work-state:hover {
  transform: scale(1.2);
  color: map-get($color, accent);
}

.current {
  background-color: map-get($color, dark);
}
/*Side bar*/

.side-bar {
  .bar {
    height: 7rem;
    background-color: map-get($color, dark);
  }
}
.handler {
  margin-bottom: 6rem;
  background-color: map-get($color, dark);
}

.handler::before {
  content: attr(data-text);
  color: map-get($color, dark);
  display: block;
  position: relative;
  font-size: 12px;
  left: 1.5rem;
}
/*Footer bar*/
.icon {
  fill: map-get($color, dark);
}
.guilding-line {
  background-color: map-get($color, dark);
}
.guilding-line::before {
  right: 0;
  background-color: map-get($color, dark);
}
.guilding-line::after {
  left: 0;
  border-right: 9px solid map-get($color, dark);
}
.guilding-title {
  position: relative;
  right: 0;
  transition: 0.5s ease-in-out;
}

.guilding-title:hover {
  right: 1rem;
}

/*Main section*/

.shift-section {
  position: relative;
  z-index: 100;
}

/*Intro section*/

.smalltitle {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  .titleLine {
    margin-left: 0.5rem;
    height: 1px;
    width: 5rem;
    background-color: map-get($color, dark);
  }
}

.intro-strip {
  position: absolute;
  width: 70vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  .intro-title {
    p {
      width: 27vw;
    }
  }
}

.intro-skill {
  display: flex;
  flex-direction: row;
}

.intro-list {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 2rem;
  border-radius: 50%;
  background-color: map-get($color, accent);
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro-img {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .intro-circle {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: map-get($color, accent);
  }
  .intro-main {
    position: absolute;
    width: 25rem;
    height: 27rem;
    border-bottom-left-radius: 12.5rem;
    border-bottom-right-radius: 12.5rem;
    overflow: hidden;
    text-align: right;
    img {
      width: 18rem;
    }
  }
}

.scroll-line {
  background-color: map-get($color, secondUniversal);
}

/*CV-section*/

.leadingLine {
  width: 2px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: map-get($color, secondUniversal);
}

.cv-sphere {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: map-get($color, secondUniversal);
  z-index: -1;
}

.cv-section {
  width: 68vw;
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: row;
}

.cv-col-title {
  margin-bottom: 0.8rem;
}

.cv-col-list {
  display: flex;
  flex-direction: row;
  width: 18rem;
  margin: 0 6rem 2rem 0;
  .cv-list-img {
    margin-right: 2rem;
    img {
      width: 4rem;
      filter: saturate(0%);
      transition: 0.5s ease;
      &:hover {
        filter: saturate(100%);
        opacity: 1;
      }
    }
  }
  .cv-list-info {
    h4 {
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  }
}

.dark-logo {
  opacity: 0.5;
}

/*Contact section*/

.finishing-line {
  background-color: map-get($color, secondUniversal);
}

.contact-Title,
.contact-bar {
  position: relative;
  z-index: 300;
}

.circle-divider {
  .circle {
    background-color: map-get($color, seconddark);
  }
}

.contact-sphere {
  background-color: map-get($color, secondUniversal);
}

/* ================ Responsive===================== */

@media screen and (min-width: 1500px) {
  /*Global Style*/
  p {
    line-height: 2.2rem;
  }
  /*Intro section*/
  .smalltitle {
    .titleLine {
      margin-left: 1rem;
      width: 8rem;
    }
  }
  .intro-strip {
    width: 75vw;
    .intro-title {
      p {
        width: 30vw;
      }
    }
  }
  .intro-list {
    width: 5rem;
    height: 5rem;
    margin-left: 4rem;
  }
  .intro-img {
    .intro-circle {
      width: 30rem;
      height: 30rem;
    }
    .intro-main {
      width: 30rem;
      height: 35rem;
      border-bottom-left-radius: 15rem;
      border-bottom-right-radius: 15rem;
      img {
        width: 23rem;
      }
    }
  }
  /*CV-section*/
  .cv-sphere {
    width: 30rem;
    height: 30rem;
  }
  .cv-section {
    width: 75vw;
  }
  .cv-col-list {
    width: 30rem;
    margin: 0 6rem 2rem 0;
    .cv-list-img {
      margin-right: 3rem;
      img {
        width: 6rem;
      }
    }
    .cv-list-info {
      h4 {
        font-size: 20px;
        margin-bottom: .5rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .cv-col-list {
    width: 17rem;
    margin-bottom: 2rem;
    .cv-list-img {
      margin-right: 1rem;
      img {
        width: 3rem;
      }
    }
  }

  .intro-list {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .hamburger-line {
    background-color: map-get($color, dark);
  }

  .nav-link {
    background-color: map-get($color, universal);
  }

  /*Intro*/

  /*Main CV Section*/

  .cv-section {
    margin: 3rem auto;
    width: 60vw;
    flex-direction: column;
  }
  .cv-col-title {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  /*Main section*/
  /*Landing section*/
  .intro-strip {
    width: 68vw;
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    .intro-title {
      margin-bottom: 4rem;
      p {
        width: 100%;
      }
    }
  }

  .intro-skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .intro-list {
    width: 3rem;
    height: 3rem;
    margin: 0;
  }

  .intro-img {
    display: none;
  }

  /*CV-section*/

  .leadingLine,
  .cv-sphere {
    display: none;
  }

  .cv-col-list {
    width: 15rem;
    margin-bottom: 3rem;
  }

  p {
    line-height: 1.5rem;
  }
  /*Footer bar*/
  .footerbar {
    background-color: map-get($color, universal);
  }
}
