/*Global style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

h1 {
  font-family: "Gordita Bold";
  font-size: 3.5rem;
}

h2 {
  font-family: "Gordita Bold";
  font-size: 3rem;
}

h3 {
  font-family: "Gordita Medium";
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h4 {
  font-family: "Gordita Medium";
  font-size: 0.875rem;
  font-weight: 500;
}

p {
  font-family: "Gordita Light";
  line-height: 1.5rem;
  font-size: 0.875rem;
}

a {
  font-family: "Gordita Regular";
  text-decoration: none;
}

li {
  list-style: none;
}

/*Page transition*/
.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  pointer-events: none;
}

.loading-logo {
  position: relative;
  margin-top: 3px;
  margin-right: 2px;
  width: 3.5rem;
  overflow: none;
  z-index: 100;
  mix-blend-mode: difference;
}

.loading-sphere {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  -webkit-overflow: hidden;
  overflow: hidden;
  z-index: 2;
}

.loading-sphere::after {
  content: "";
  width: 9rem;
  height: 9rem;
  display: block;
  background-color: #e0e0e0;
  position: relative;
  border-radius: 45%;
  left: -20%;
  z-index: 1;
  -webkit-animation: spin 1.5s ease-in-out forwards;
          animation: spin 1.5s ease-in-out forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

/*Cursor*/
.cursor {
  height: 10px;
  width: 10px;
  border: 1.5px solid;
  border-color: transparent;
  background-color: #58bfd3;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transition-duration: ease-out;
          transition-duration: ease-out;
  pointer-events: none;
}

.expand {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: transparent;
  border-color: #58bfd3;
  height: 50px;
  width: 50px;
}

.expand-project {
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.91);
  z-index: 980;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand-project::after {
  content: "+Read";
  font-size: 0.8rem;
  font-family: "Gordita Medium";
  color: #0a0a0a;
}

/*Header*/
.header {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 999;
  padding: 1.2rem 4rem 0.5rem;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .logo {
  position: relative;
  margin-top: 1.5rem;
  width: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1000;
}

.header a {
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header li {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 2rem;
}

.current {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto 0.3rem;
}

/*Side-Bar*/
.side-bar {
  position: fixed;
  width: 3rem;
  height: 60vh;
  margin: 8rem 0 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.side-bar .bar {
  position: relative;
  width: 1px;
  background-color: #e0e0e0;
}

.handler {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e0e0e0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.handler::before {
  content: attr(data-text);
  display: block;
  position: relative;
  font-family: "Gordita Light";
  font-size: 12px;
  left: 1.5rem;
}

/*Footer Bar*/
.footerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 4rem 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1100;
}

.footerbar li {
  display: inline;
}

.footerbar .icon {
  width: 1.2rem;
  margin-right: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footerbar .icon:hover {
  fill: #58bfd3;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.icon-bar {
  width: 33%;
}

.section-nav {
  text-align: center;
  position: fixed;
  width: 15rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 3rem;
  font-family: "Gordita Medium";
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 20;
}

/*Scroll guilding line*/
.scroll-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto 0;
  width: 2px;
  height: 20rem;
  background-color: #292929;
}

.scroll-line::before {
  content: "";
  display: block;
  width: 2px;
  height: 3rem;
  background-color: #58bfd3;
  position: relative;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: scrollLine;
          animation-name: scrollLine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollLine {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(17rem);
            transform: translateY(17rem);
  }
}

@keyframes scrollLine {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(17rem);
            transform: translateY(17rem);
  }
}

/*Contact section*/
.finishing-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2px;
  height: 20rem;
}

.contact-strip {
  position: relative;
  width: 50vw;
  margin: 0 auto;
}

.contact-strip .contact-Title {
  width: 50%;
}

.contact-strip .contact-Title h2 {
  margin-bottom: 1rem;
}

.contact-strip .contact-Title h3 {
  margin-bottom: 2rem;
}

.contact-strip .contact-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.contact-strip .contact-bar p {
  font-family: "Gordita Medium";
  font-size: 1.2rem;
  margin-right: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contact-strip .contact-bar p:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #58bfd3;
}

.circle-divider {
  position: relative;
  z-index: 100;
}

.circle-divider .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 1rem 0 0.5rem;
}

.declare {
  margin: 1rem 0;
}

.declare p {
  font-size: 14px;
}

.contact-sphere {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  z-index: -1;
}

/*Share compoenet*/
.intro-sphere {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  mix-blend-mode: difference;
  overflow: hidden;
  z-index: 100;
}

/* ================ Responsive===================== */
@media screen and (min-width: 1920px) {
  /*Global style*/
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 5.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 2rem;
  }
  /*Page transition*/
  .loading-logo {
    width: 5rem;
  }
  .loading-sphere {
    width: 10rem;
    height: 10rem;
  }
  .loading-sphere::after {
    width: 12rem;
    height: 12rem;
  }
  /*Header*/
  .header .logo {
    width: 4rem;
  }
  .header a {
    font-size: 1.2rem;
  }
  .header li {
    padding-left: 3rem;
  }
  .current {
    width: 8px;
    height: 8px;
  }
  /*Side-Bar*/
  .handler {
    width: 1rem;
    height: 1rem;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .handler::before {
    content: attr(data-text);
    font-size: 1rem;
    left: 2rem;
  }
  /*Footer Bar*/
  .footerbar .icon {
    width: 1.8rem;
    margin-right: 5rem;
  }
  /*Scroll guilding line*/
  .scroll-line {
    height: 25rem;
  }
  @-webkit-keyframes scrollLine {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(22rem);
              transform: translateY(22rem);
    }
  }
  @keyframes scrollLine {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(22rem);
              transform: translateY(22rem);
    }
  }
  /*Contact section*/
  .finishing-line {
    height: 25rem;
  }
  .contact-strip .contact-Title {
    width: 50%;
  }
  .contact-strip .contact-Title h2 {
    margin-bottom: 2.5rem;
  }
  .contact-strip .contact-Title h3 {
    margin-bottom: 2.5rem;
  }
  .contact-strip .contact-bar p {
    font-size: 1.5rem;
    margin-right: 5rem;
  }
  .contact-sphere {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (min-width: 1500px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1280px) {
  /*Global style*/
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  /*Global style*/
  .cursor {
    display: none;
  }
  /*Responsive header*/
  .header {
    padding: 0.5rem 6rem 0.5rem 3.5rem;
  }
  .header li {
    padding: 0;
  }
  .header .logo {
    width: 2.5rem;
  }
  nav {
    position: relative;
    right: -3rem;
  }
  .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.6rem;
    z-index: 1000;
    cursor: pointer;
  }
  .hamburger .hamburger-line {
    width: 1.8rem;
    height: 2px;
    margin-top: 0.5rem;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  .hamburger-line1-toggle {
    margin-right: 0.5rem;
  }
  .hamburger-line2-toggle {
    margin-left: 0.5rem;
  }
  .nav-link {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -100rem;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .nav-link .work-state {
    margin-top: 13rem;
    margin-bottom: 3rem;
  }
  .nav-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .current {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: 0.5rem;
  }
  .nav-link-scroll {
    right: 0;
  }
  /*Contact Section*/
  .finishing-line {
    display: none;
  }
  .contact-strip {
    width: 70vw;
  }
  .contact-strip .contact-Title {
    width: 100%;
  }
  .contact-strip .contact-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-strip .contact-bar p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .contact-sphere {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 500px) {
  /*Gloabal style*/
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  /*Header*/
  .header {
    padding: 0.5rem 4.5rem 0.5rem 1.5rem;
  }
  .header .logo {
    width: 2rem;
  }
  /*SideBar*/
  .side-bar {
    display: none;
  }
  /*FooterBar*/
  .footerbar {
    padding: 1.2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footerbar .icon-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footerbar .icon {
    margin-right: 0;
  }
  .section-nav {
    display: none;
  }
  /*Scroll guilding line*/
  .scroll-line {
    display: none;
  }
  /*Shared section*/
  .section0,
  .contact-section {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Global Style*/
body {
  color: #e0e0e0;
  background: #282828;
  background: radial-gradient(circle, #282828 0%, #0a0a0a 43%);
}

a {
  color: #e0e0e0;
}

/*Header*/
.logo circle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logo:hover circle {
  fill: #58bfd3;
  stroke: #58bfd3;
}

.work-state {
  cursor: none;
}

.about-state:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #58bfd3;
}

.current {
  background-color: #e0e0e0;
}

/*Side bar*/
.side-bar .bar {
  height: 10rem;
  background-color: #e0e0e0;
}

.handler {
  margin-bottom: 10rem;
  background-color: #e0e0e0;
}

.handler::before {
  content: attr(data-text);
  display: block;
  position: relative;
  font-size: 12px;
  left: 1.5rem;
}

/*Footer bar*/
.icon {
  fill: #e0e0e0;
}

.project-list-button {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list-button p {
  font-family: "Gordita Medium";
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.project-list-button:hover > p {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #58bfd3;
}

.list-line {
  margin-right: 1rem;
  width: 5rem;
  height: 1px;
  background-color: #e0e0e0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.list-line2 {
  visibility: hidden;
}

.list-line1-clicked {
  width: 1.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.list-line2-clicked {
  visibility: visible;
  width: 1.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-list-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 95%;
  height: 95vh;
  background: #282828;
  background: radial-gradient(circle, #282828 0%, #0a0a0a 43%);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.project-list-screen-clicked {
  opacity: 1;
  pointer-events: auto;
}

.list-item {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.list-item h2 {
  width: 550px;
  text-align: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.list-item:hover > h2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.list-numbering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-numbering-line {
  width: 3rem;
  height: 1px;
  margin: 0 2rem;
  background-color: #e0e0e0;
}

/*==================================Main section==============================*/
.workSectionShift {
  position: relative;
  z-index: 100;
}

/*Landing Section*/
/*Section 0*/
.intro-strip {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

.scroll-line {
  background-color: #292929;
}

/*Project Section*/
.leadingLine {
  width: 2px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #292929;
}

/*Project intro numbering*/
.intro-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 8rem;
  margin: 0 0.5rem;
}

/*Project part*/
.project-strip {
  width: 72vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.project-strip .project-title {
  width: 33%;
  text-align: end;
}

.project-strip .project-title .project-tag {
  font-family: "Gordita Regular";
}

.project-strip .project-img {
  width: 33%;
  margin: 0 4rem;
}

.project-strip .project-info {
  width: 33%;
}

.project-strip .project-info .project-intro {
  width: 90%;
}

.project-shpere {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.project-pop {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.project-pop img {
  width: 25rem;
}

#pro-title {
  font-size: 2.4rem;
}

/*Each project section*/
/*Section1*/
.section1 .project-shpere {
  background-color: #e0e0e0;
}

.section1 .project-shpere .project-pop {
  margin-top: 5rem;
}

.section2 .project-shpere {
  background-color: #4b9aaa;
}

.section2 .project-shpere .project-pop {
  margin-top: 3rem;
}

.section3 .project-shpere {
  background-color: #e0be53;
}

.section3 .project-shpere .project-pop {
  margin-top: 3rem;
}

.section4 .project-shpere {
  background-image: url(../img/project-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section4 .project-shpere .project-pop {
  margin-top: 3rem;
}

/*Contact section*/
.finishing-line {
  background-color: #292929;
}

.circle-divider .circle {
  background-color: #f5f5f5;
}

.contact-sphere {
  background-color: #292929;
}

/* ================ Responsive===================== */
@media screen and (min-width: 1920px) {
  /*Side bar*/
  .side-bar .bar {
    height: 20rem;
  }
  .handler {
    margin-bottom: 20rem;
  }
  /*Landing Section*/
  /*Section 0*/
  .intro-sphere {
    width: 30rem;
    height: 30rem;
  }
  /*Project intro numbering*/
  .number-line {
    width: 12rem;
  }
  /*Project part*/
  .project-strip {
    width: 80vw;
  }
  .project-strip .project-img {
    margin: 0 5.5rem;
  }
  .project-strip .project-info .project-intro {
    width: 100%;
  }
  .project-shpere {
    width: 30rem;
    height: 30rem;
  }
  .project-pop img {
    width: 33rem;
  }
  #pro-title {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 1280px) {
  /*Project list bar*/
  .project-list {
    width: 35vw;
  }
  .project-list h3 {
    margin-left: 1rem;
  }
  .project-list h2 {
    width: 20rem;
  }
  /*Project part*/
  .project-strip .project-img {
    margin: 0 5.5rem;
  }
  .project-strip .project-info .project-intro {
    width: 100%;
  }
  .project-shpere {
    width: 20rem;
    height: 20rem;
  }
  .project-pop img {
    width: 23rem;
  }
  #pro-title {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 800px) {
  /*Header*/
  .hamburger-line {
    background-color: #e0e0e0;
  }
  .nav-link {
    background-color: #0a0a0a;
  }
  .project-list-button {
    display: none;
  }
  .project-list-screen {
    display: none;
  }
  /*Main section*/
  /*Intro section*/
  .intro-sphere {
    width: 15rem;
    height: 15rem;
  }
  /*Project Section*/
  .leadingLine {
    display: none;
  }
  .intro-number {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
  /*Project part*/
  .project-strip {
    width: 65vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  .project-strip .project-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
  }
  .project-strip .project-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0 0 3rem;
  }
  .project-strip .project-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 0;
  }
  .project-strip .project-info .project-intro {
    width: 100%;
  }
  .project-shpere {
    width: 50vw;
    height: 50vw;
  }
  .project-pop {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
  .project-pop img {
    width: 15rem;
  }
  #pro-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .section1 .project-shpere .project-pop,
  .section2 .project-shpere .project-pop,
  .section3 .project-shpere .project-pop {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .scroll-line {
    display: none;
  }
  /*Project section*/
  .intro-strip {
    width: 80vw;
  }
  .hero-line h2 {
    font-size: 1rem;
  }
  /*Footer bar*/
  .footerbar {
    background-color: #0a0a0a;
  }
}
/*# sourceMappingURL=index.css.map */