@import "main";

/*Global Style*/

body {
    color: map-get($color, universal);
    background: rgb(40, 40, 40);
    background: radial-gradient(circle, rgba(40, 40, 40, 1) 0%, rgba(10, 10, 10, 1) 43%);
}

a {
    color: map-get($color, universal);
}

/*Header*/
.logo {
    circle {
        transition: 0.5s ease;
    }
}

.logo:hover {
    circle {
        fill: map-get($color, accent);
        stroke: map-get($color, accent);
    }
}
.work-state {
    cursor: none;
}

.about-state:hover {
    transform: scale(1.2);
    color: map-get($color, accent);
}

.current {
    background-color: map-get($color, universal);
}

/*Side bar*/

.side-bar {
    .bar {
        background-color: map-get($color, universal);
    }
    .handler {
        background-color: map-get($color, universal);
    }
}

.handler::before {
    content: attr(data-text);
    display: block;
    position: relative;
    font-size: 12px;
    left: 1.5rem;
}

/*Footer bar*/
.icon {
    fill: map-get($color, universal);
}
.guilding-line {
    background-color: map-get($color, universal);
}
.guilding-line::before {
    background-color: map-get($color, universal);
}
.guilding-line::after {
    right: 0;
    border-left: 9px solid map-get($color, universal);
}

.guilding-title {
    left: 0rem;
    transition: 0.5s ease-in-out;
}

.guilding-title:hover {
    position: relative;
    left: 1rem;
}

/*Main section*/
.workSectionShift {
    position: relative;
    z-index: 100;
}

/*Landing Section*/
/*Section 0*/

.intro-strip {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.intro-sphere {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    mix-blend-mode: difference;
    overflow: hidden;
    z-index: 100;
}

.scroll-line {
    background-color: map-get($color, seconddark);
}

/*Project Section*/
.leadingLine {
    width: 2px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: map-get($color, seconddark);
}

/*Project intro numbering*/

.intro-number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}
.number-line {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
    width: 8rem;
    margin: 0 0.5rem;
}

/*Project part*/

.project-strip {
    width: 72vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    .project-title {
        width: 33%;
        text-align: end;
        .project-tag {
            font-family: 'Gordita Regular';
        }
    }
    .project-img {
        width: 33%;
        margin: 0 4rem;
    }
    .project-info {
        width: 33%;
        .project-intro {
            width: 90%;
        }
    }
}

.project-shpere {
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.project-pop {
    transform: translateZ(20px);
    img {
        width: 25rem;
    }
}

#pro-title {
    font-size: 2.4rem;
}

/*Each project section*/

/*Section1*/
.section1 {
    .project-shpere {
        background-color: map-get($color, universal);
        .project-pop {
            margin-top: 5rem;
        }
    }
}

.section2 {
    .project-shpere {
        background-color: map-get($color, klm);
        .project-pop {
            margin-top: 3rem;
        }
    }
}

.section3 {
    .project-shpere {
        background-color: #e0be53;
        .project-pop {
            margin-top: 3rem;
        }
    }
}

.section4 {
    .project-shpere {
        background-image: url(../img/project-04.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .project-pop {
            margin-top: 3rem;
        }
    }
}

/*Contact section*/

.finishing-line {
    background-color: map-get($color, seconddark);
}

.circle-divider {
    .circle {
        background-color: map-get($color, secondUniversal);
    }
}

.contact-sphere {
    background-color: map-get($color, seconddark);
}

/* ================ Responsive===================== */

@media screen and (min-width: 1500px) {
    /*Landing Section*/
    /*Section 0*/
    .intro-sphere {
        width: 30rem;
        height: 30rem;
    }
    /*Project intro numbering*/
    .number-line {
        width: 12rem;
    }
    /*Project part*/
    .project-strip {
        width: 80vw;
        .project-img {
            margin: 0 5.5rem;
        }
        .project-info {
            .project-intro {
                width: 100%;
            }
        }
    }
    .project-shpere {
        width: 30rem;
        height: 30rem;
    }
    .project-pop {
        img {
            width: 33rem;
        }
    }
    #pro-title {
        font-size: 3rem;
        line-height: 4.5rem;
    }
}

@media screen and (max-width: 800px) {
    /*Header*/
    .hamburger-line {
        background-color: map-get($color, universal);
    }
    .nav-link {
        background-color: map-get($color, dark);
    }

    /*Main section*/

    /*Intro section*/

    .intro-sphere {
        width: 15rem;
        height: 15rem;
    }

    /*Project Section*/

    .leadingLine {
        display: none;
    }

    .intro-number {
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }

    /*Project part*/

    .project-strip {
        width: 65vw;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        .project-title {
            order: 2;
            width: 100%;
            text-align: start;
            margin-bottom: 1rem;
        }
        .project-img {
            order: 1;
            width: 100%;
            padding: 0 0 3rem;
        }
        .project-info {
            order: 3;
            width: 100%;
            margin: 0;
            .project-intro {
                width: 100%;
            }
        }
    }
    .project-shpere {
        width: 50vw;
        height: 50vw;
    }
    .project-pop {
        transform: translateZ(20px);
        img {
            width: 15rem;
        }
    }

    #pro-title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .section1,
    .section2,
    .section3 {
        .project-shpere {
            .project-pop {
                margin-top: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .scroll-line {
        display: none;
    }

    /*Project section*/
    .intro-strip {
        width: 80vw;
    }

    .hero-line {
        h2 {
            font-size: 1rem;
        }
    }

    /*Footer bar*/
    .footerbar {
        background-color: map-get($color, dark);
    }
}
