/*Global style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gordita", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*Page transition*/
.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  pointer-events: none;
}

.loading-logo {
  position: relative;
  margin-top: 3px;
  margin-right: 2px;
  width: 3.5rem;
  overflow: none;
  z-index: 100;
}

.loading-sphere {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  -webkit-overflow: hidden;
  overflow: hidden;
}

.loading-sphere::after {
  content: '';
  width: 9rem;
  height: 9rem;
  display: block;
  background-color: #e0e0e0;
  position: relative;
  border-radius: 45%;
  left: -20%;
  -webkit-animation: spin 1.5s ease-in-out forwards;
          animation: spin 1.5s ease-in-out forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

/*Cursor*/
.cursor {
  height: 10px;
  width: 10px;
  border: 1.5px solid;
  border-color: transparent;
  background-color: #58bfd3;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  pointer-events: none;
}

.expand {
  background: transparent;
  border-color: #58bfd3;
  height: 50px;
  width: 50px;
}

.expand-project {
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.91);
  z-index: 980;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand-project::after {
  content: "+Read";
  font-size: 0.8rem;
  color: #0a0a0a;
}

/*Header*/
.header {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 999;
  padding: 2rem 6rem 0.5rem 3rem;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .logo {
  margin-top: 1.5rem;
  width: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header a {
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header li {
  display: inline-block;
  margin-bottom: 0;
  padding: 0px 10px;
}

.current {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin: 0 auto 0.3rem;
}

/*Side-bar*/
.sidebar {
  top: 5rem;
  width: 9rem;
  height: 100vh;
  position: fixed;
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .nav1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar .nav2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav2 .bar {
  position: relative;
  width: 1px;
  height: 12rem;
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sidebar .nav3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav3 ul {
  margin-bottom: 3rem;
}

.sidebar .nav3 .icon {
  width: 1rem;
  height: 100%;
  margin: 1.2rem 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sidebar .nav3 .icon:hover {
  fill: #58bfd3;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.handler {
  position: absolute;
  z-index: 10;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*Scroll Icon*/
.scrollicon {
  width: 32px;
  height: 54px;
  border: 3px solid #0a0a0a;
  border-radius: 25px;
  margin-bottom: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.scrollicon:before {
  content: "";
  margin: 0 auto;
  position: relative;
  top: 6px;
  display: block;
  width: 2px;
  height: 12px;
  border-radius: 25%;
  background-color: #0a0a0a;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    height: 22px;
  }
  75% {
    top: 20px;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    height: 22px;
  }
  75% {
    top: 20px;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

.scrollicon:hover {
  margin-bottom: 2rem;
}

/*Contact Section*/
.section5 {
  background-color: #0a0a0a;
  z-index: 8;
}

.contact-line {
  position: relative;
  width: 70vw;
  margin: 0 auto;
  -webkit-transition: 1.2s ease;
  transition: 1.2s ease;
  z-index: 100;
}

.contact-line .title {
  font-family: "Gordita", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 72px;
}

.contact-line .subtitle {
  font-family: "Gordita", sans-serif;
  font-size: 1.5rem;
  line-height: 35px;
  margin-top: 1rem;
}

.page-cta {
  margin-top: 1.5rem;
  height: 2rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-cta .arrow {
  width: 100px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.page-cta p {
  font-weight: 500;
}

.footer {
  position: relative;
  bottom: calc(-10% - 80px);
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 3rem;
  z-index: 100;
}

.footer .footer-link {
  margin-bottom: 0.8rem;
}

.footer .footer-link li {
  display: inline-block;
  margin-right: 2rem;
}

.footer .footer-link li p {
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .footer-link li p:hover {
  color: #58bfd3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 70vw;
}

.footer .footer-claim {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.footerBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.footerBackground .footerBackgroundObject {
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.footerBackground .footerBackgroundObject:nth-child(1) {
  width: 7rem;
  bottom: 10rem;
  margin-bottom: -150rem;
  left: 25rem;
}

.footerBackground .footerBackgroundObject:nth-child(2) {
  width: 4rem;
  left: 10rem;
  margin-bottom: -150rem;
}

.footerBackground .footerBackgroundObject:nth-child(3) {
  width: 0.8rem;
  bottom: 15rem;
  left: 3rem;
  margin-bottom: -200rem;
}

.footerBackground .footerBackgroundObject:nth-child(4) {
  position: absolute;
  bottom: -5rem;
  right: -5rem;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  margin-bottom: -300rem;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .cursor {
    display: none;
  }
  /*Customize Scrollbar*/
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #292929;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #58bfd3;
  }
  /*Responsive header*/
  .header {
    padding: 0.5rem 4.5rem 0.5rem 1rem;
  }
  .header .logo {
    width: 2.5rem;
  }
  nav {
    position: relative;
    right: -3rem;
  }
  .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.6rem;
    z-index: 1000;
    cursor: pointer;
  }
  .hamburger .hamburger-line {
    width: 1.8rem;
    height: 2px;
    margin-top: 0.5rem;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  .hamburger-line1-toggle {
    margin-right: 0.5rem;
  }
  .hamburger-line2-toggle {
    margin-left: 0.5rem;
  }
  .nav-link {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -100rem;
    width: 85vw;
    height: 100vh;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .nav-link .work-state {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  .nav-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .current {
    width: 2rem;
    height: 1px;
    border-radius: 0;
    margin-left: -2.5rem;
    margin-right: 0.5rem;
  }
  .nav-link-scroll {
    right: 0;
  }
  /*SideBar*/
  .sidebar {
    width: 4rem;
  }
  .sidebar .nav2 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .sidebar .nav2 .bar {
    display: none;
  }
  .sidebar .nav3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .handler {
    display: none;
  }
  /*Scroll Icon*/
  .scrollicon {
    width: 20px;
    height: 42px;
  }
  .scrollicon:before {
    top: 28px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-22px);
              transform: translateY(-22px);
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-22px);
              transform: translateY(-22px);
      opacity: 0;
    }
  }
  /*Contect section*/
  .page-cta {
    width: 100%;
  }
  .footer .footer-link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-link li {
    margin-bottom: 1rem;
  }
  /*Contact section*/
  .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footerBackground {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  /*Gloabal style*/
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  /*Header*/
  .header {
    padding-right: 4rem;
  }
  .header .logo {
    width: 2rem;
  }
  /*Main section*/
  /*Footer*/
  .contact-line {
    top: 4rem;
  }
  .contact-line .title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

body {
  color: #e0e0e0;
  background-color: #0a0a0a;
}

a {
  color: #e0e0e0;
}

/*Header*/
.logo circle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logo:hover circle {
  fill: #58bfd3;
  stroke: #58bfd3;
}

.work-state {
  cursor: none;
}

.about-state:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.current {
  background-color: #e0e0e0;
}

/*Side Bar*/
.icon {
  fill: #e0e0e0;
}

.bar {
  background: #e0e0e0;
}

.handler {
  background-color: #e0e0e0;
  height: 40px;
  width: 4px;
  margin-top: -10rem;
}

/*Project background*/
.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-object {
  position: relative;
}

.background-object:nth-of-type(1) {
  width: 6rem;
  top: -16rem;
  left: 6rem;
}

.background-object:nth-of-type(2) {
  width: 7rem;
  bottom: -2rem;
  left: 15rem;
}

.background-object:nth-of-type(3) {
  width: 8rem;
  right: 30rem;
  bottom: 3rem;
}

.background-object:nth-of-type(4) {
  width: 0.8rem;
  left: 26rem;
  top: 10rem;
}

.background-object:nth-of-type(5) {
  width: 3rem;
  left: 16rem;
  top: 16rem;
}

.background-object:nth-of-type(6) {
  width: 0.8rem;
  right: 47rem;
  bottom: 13rem;
}

.objectback {
  margin-top: 100rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.objectfront {
  margin-top: 150rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.objectfarfront {
  margin-top: 200rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*Section01*/
.section1 {
  z-index: 2;
  /*Section01 title*/
  /*Parallex effect*/
}

.section1 .layer {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 3;
}

/*Cover-pic*/
.heroline {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  width: 70vw;
}

.heroline h1 {
  width: 670px;
  margin-left: 3rem;
}

.sphere-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  mix-blend-mode: difference;
  z-index: 6;
}

/*Scroll down Call of action*/
/*Scroll Icon*/
.scrollicon {
  position: absolute;
  left: 50%;
  bottom: -2%;
  border: 2px solid #e0e0e0;
  z-index: 5;
}

.scrollicon:before {
  background-color: #e0e0e0;
}

/*Project intro numbering*/
.intro-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 10rem;
  margin: 0 0.5rem;
}

/*Project Photo with hover effect*/
.project-photo {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-zoom {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.overlay p {
  font-size: 1.5rem;
  font-weight: 400;
}

.photo:hover > .photo-zoom {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.photo:hover > a > .overlay {
  opacity: 1;
}

/*Project section*/
.section2,
.section3,
.section4 {
  background-color: #0a0a0a;
  z-index: 7;
}

.project-section {
  margin-top: 100rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project-strip {
  width: 70vw;
  height: 32vh;
  margin: 2rem auto 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: content;
      flex-basis: content;
}

.project-strip .intro {
  width: 45%;
  height: inherit;
  margin: 1.5rem 3rem;
}

.project-strip .photo {
  width: 55%;
  height: inherit;
  overflow: hidden;
  position: relative;
}

.project-strip2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-strip2 .intro {
  text-align: right;
}

.project-strip2 .intro .intro-number {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*Project title size*/
.project-title1 {
  font-size: 5rem;
}

.project-title2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.project-title4 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

/*Contact section*/
.arrow {
  padding-right: 1rem;
}

.page-cta:hover > .arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/*Responsive*/
@media screen and (max-width: 1280px) {
  .sphere-cover {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 800px) {
  /*Header*/
  .hamburger-line {
    background-color: #e0e0e0;
  }
  .nav-link {
    background-color: #0a0a0a;
  }
  /*All section*/
  .section1,
  .section5 {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 {
    padding-top: 5rem;
  }
  .section4 {
    padding-bottom: 2rem;
  }
  /*Landing section*/
  .heroline {
    width: 67vw;
  }
  .heroline h1 {
    font-size: 2.3rem;
    width: 100%;
    margin-left: 0rem;
  }
  /*Project Section*/
  .project-section {
    margin-top: 0;
  }
  .project-strip {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 5rem;
  }
  .project-strip .photo {
    width: 100%;
    height: 130px;
  }
  .project-strip .intro {
    width: 100%;
    height: 50%;
    margin: 1.5rem 0;
  }
  .intro-number {
    margin-bottom: 0;
  }
  .project-strip2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-strip2 .photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project-strip2 .intro {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: left;
  }
  .project-strip2 .intro .intro-number {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-title1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }
  .project-title2,
  .project-title4 {
    font-size: 1.8rem;
    margin: 0.3rem 0;
  }
  .klm-strip {
    margin-bottom: 8rem;
  }
  /*Contact Section*/
  .section-background {
    display: none;
  }
  .layer {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  /*Landing section*/
  .heroline {
    margin-bottom: 4rem;
  }
  .sphere-cover {
    width: 20rem;
    height: 20rem;
  }
  /*Main section*/
  .project-title2,
  .project-title4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }
  /*Contact Section*/
  .footerBackground {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  /*Scroll icon*/
  .scrollicon {
    bottom: -1%;
  }
}
/*# sourceMappingURL=index.css.map */