@import "main";

body {
  color: map-get($color, universal);
  background-color: map-get($color, dark);
}
a {
  color: map-get($color, universal);
}

/*Header*/
.logo {
  circle {
    transition: 0.5s ease;
  }
}

.logo:hover {
  circle {
    fill: map-get($color, accent);
    stroke: map-get($color, accent);
  }
}
.work-state {
  cursor: none;
}

.about-state:hover {
  transform: scale(1.2);
}

.current {
  background-color: map-get($color, universal);
}

/*Side Bar*/

.icon {
  fill: map-get($color, universal);
}

.bar {
  background: map-get($color, universal);
}

.handler {
  background-color: map-get($color, universal);
  height: 40px;
  width: 4px;
  margin-top: -10rem;
}

/*Project background*/

.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-object {
  position: relative;
  &:nth-of-type(1) {
    width: 6rem;
    top: -16rem;
    left: 6rem;
  }
  &:nth-of-type(2) {
    width: 7rem;
    bottom: -2rem;
    left: 15rem;
  }
  &:nth-of-type(3) {
    width: 8rem;
    right: 30rem;
    bottom: 3rem;
  }
  &:nth-of-type(4) {
    width: 0.8rem;
    left: 26rem;
    top: 10rem;
  }
  &:nth-of-type(5) {
    width: 3rem;
    left: 16rem;
    top: 16rem;
  }
  &:nth-of-type(6) {
    width: 0.8rem;
    right: 47rem;
    bottom: 13rem;
  }
}

.objectback {
  margin-top: 100rem;
  transition: 1s ease-in-out;
}
.objectfront {
  margin-top: 150rem;
  transition: 1s ease-in-out;
}
.objectfarfront {
  margin-top: 200rem;
  transition: 1s ease-in-out;
}

/*Section01*/

.section1 {
  z-index: 2;
  /*Section01 title*/

  /*Parallex effect*/
  .layer {
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    transition: 1s ease;
    z-index: 3;
  }
}

/*Cover-pic*/

.heroline {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  width: 70vw;
  h1 {
    width: 670px;
    margin-left: 3rem;
  }
}

.sphere-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: map-get($color, universal);
  mix-blend-mode: difference;
  z-index: 6;
}

/*Scroll down Call of action*/
/*Scroll Icon*/

.scrollicon {
  position: absolute;
  left: 50%;
  bottom: -2%;
  border: 2px solid map-get($color, universal);
  z-index: 5;
}

.scrollicon:before {
  background-color: map-get($color, universal);
}

  /*Project intro numbering*/
.intro-number {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 10rem;
  margin: 0 0.5rem;
}

  /*Project Photo with hover effect*/
.project-photo {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.photo-zoom {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.photo:hover > .photo-zoom {
  transform: scale(1.2);
}
.photo:hover > a > .overlay {
  opacity: 1;
}

/*Project section*/

.section2,
.section3,
.section4 {
  background-color: map-get($color, dark);
  z-index: 7;
}

.project-section {
  margin-top: 100rem;
  transition: 1s ease;
}

.project-strip {
  width: 70vw;
  height: 32vh;
  margin: 2rem auto 3rem;
  display: flex;
  flex-basis: content;
  .intro {
    width: 45%;
    height: inherit;
    margin: 1.5rem 3rem;
  }
  .photo {
    width: 55%;
    height: inherit;
    overflow: hidden;
    position: relative;
  }
}

.project-strip2 {
  justify-content: flex-end;
  .intro {
    text-align: right;
    .intro-number {
      justify-content: flex-end;
    }
  }
}

/*Project title size*/

.project-title1 {
  font-size: 5rem;
}
.project-title2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.project-title4 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}
/*Contact section*/

.arrow {
  padding-right: 1rem;
}

.page-cta:hover > .arrow {
  transform: translateX(10px);
}

/*Responsive*/

@media screen and (max-width: 1280px) {
  .sphere-cover {
    width: 18rem;
    height: 18rem;
  }
}

@media screen and (max-width: 800px) {
  /*Header*/
  .hamburger-line {
    background-color: map-get($color, universal);
  }
  .nav-link {
    background-color: map-get($color, dark);
  }

  /*All section*/

  .section1,
  .section5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2 {
    padding-top: 5rem;
  }
  .section4 {
    padding-bottom: 2rem;
  }
  /*Landing section*/

  .heroline {
    width: 67vw;
    h1 {
      font-size: 2.3rem;
      width: 100%;
      margin-left: 0rem;
    }
  }

  /*Project Section*/

  .project-section {
    margin-top: 0;
  }

  .project-strip {
    flex-wrap: wrap;
    margin: 0 auto 5rem;
    .photo {
      width: 100%;
      height: 130px;
    }
    .intro {
      width: 100%;
      height: 50%;
      margin: 1.5rem 0;
    }
  }
  .intro-number {
    margin-bottom: 0;
  }

  .project-strip2 {
    justify-content: flex-start;
    .photo {
      order: 1;
    }
    .intro {
      order: 2;
      text-align: left;
      .intro-number {
        justify-content: flex-start;
      }
    }
  }

  .project-title1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }
  .project-title2,
  .project-title4 {
    font-size: 1.8rem;
    margin: 0.3rem 0;
  }

  .klm-strip {
    margin-bottom: 8rem;
  }

  /*Contact Section*/

  .section-background {
    display: none;
  }

  .layer {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  /*Landing section*/
  .heroline {
    margin-bottom: 3rem;
  }

  .sphere-cover {
    width: 20rem;
    height: 20rem;
  }

  /*Main section*/
  .project-title2,
  .project-title4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }
  

  /*Contact Section*/

  .footerBackground {
    display: none;
  }
}

@media screen and (max-height: 600px){
  /*Scroll icon*/
  .scrollicon {
    bottom: -1%;
  }
}
