@import "main";

/*Global Style*/
body {
    background-color: map-get($color, universal);
    color: map-get($color, dark);
}

a {
    color: map-get($color, dark);
}

p {
    line-height: 1.5rem;
}
/*Header*/

.logo {
    circle {
        transition: 0.5s ease;
    }
}

.logo:hover {
    circle {
        stroke: transparent;
        fill: map-get($color, accent);
    }
}

.about-state {
    cursor: none;
}

/*Side bar*/

.side-bar {
    .bar {
        background-color: map-get($color, dark);
    }
    .handler {
        background-color: map-get($color, dark);
    }
}
/*Footer bar*/
.icon {
    fill: map-get($color, dark);
}
.guilding-line {
    background-color: map-get($color, dark);
}
.guilding-line::before {
    right: 0;
    background-color: map-get($color, dark);
}

/*Main section*/

/*Intro section*/

.intro-strip {
    width: 70vw;
    margin: 0 auto;
}
/*CV-section*/

.cv-section {
    width: 68vw;
    margin: 1.5rem auto 0;
    display: flex;
    flex-direction: row;
}

.cv-col-title {
    margin-bottom: 0.8rem;
}

.cv-col-list {
    display: flex;
    flex-direction: row;
    width: 20rem;
    margin: 0 4rem 2rem 0;
    .cv-list-img {
        margin-right: 2rem;
        img {
            width: 4rem;
            filter: saturate(0%);
            transition: 0.5s ease;
            &:hover {
                filter: saturate(100%);
                opacity: 1;
            }
        }
    }
    .cv-list-info{
        h4{
            font-size: 14px;
        }
        p {
            font-size: 14px;
        }
    }
    
}

.dark-logo {
    opacity: 0.5;
}


/*Responsive*/

@media screen and (max-width: 1280px) {
    .cv-col-list {
      width: 17rem;
      margin-bottom: 2rem;
      .cv-list-img {
        margin-right: 1rem;
        img {
          width: 3rem;
        }
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .hamburger-line {
      background-color: map-get($color, dark);
    }
  
    .nav-link {
      background-color: map-get($color, universal);
    }
  
    /*Main-section*/
  
    .section {
      width: 100%;
      display: flex;
    }
  
    .section1,
    .section5 {
      height: 100vh;
      align-items: center;
    }
    .section2 {
      padding-bottom: 2rem;
    }
    /*Intro*/
  
    .hero-line {
      width: 65vw;
      .title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .subtitle {
        width: 50vw;
      }
    }
  
    /*Intro background*/
  
    .intro-background {
      display: none;
    }
  
    /*Main CV Section*/
  
    .cv-section {
      margin-top: 3rem;
      width: 60vw;
      flex-direction: column;
    }
    
  }
  
  @media screen and (max-width: 450px) {
    /*Landing section*/
    .hero-line {
      margin-bottom: 4rem;
    }
  
    .cv-col-list {
      width: 15rem;
      margin-bottom: 2rem;
    }
  
    p {
      font-size: 12px;
      line-height: 1.5rem;
    }
  }
  

  