/*Global style*/

$color: (
  primary: #070520,
  accent: #58bfd3,
  universal: #e0e0e0,
  dark: #0a0a0a,
  enable: #3D3D3D,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
  color: map-get($color, universal);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "Gordita", sans-serif;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: map-get($color, universal);
}

a {
  color: map-get($color, universal);
  text-decoration: none;
}

li {
  list-style: none;
}

/*Cursor*/
.cursor {
  height: 10px;
  width: 10px;
  border: 1.5px solid;
  border-color: transparent;
  background-color: map-get($color, accent);
  border-radius: 50%;
  position: absolute;
  z-index: 900;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transform:translate(-50%,-50%);
  transform-origin: 100% 100%;
  pointer-events: none;
}

.expand {
  background: transparent;
  border-color: map-get($color, accent);
  height: 50px;
  width: 50px;
}
.click{
  height: 15px;
  width: 15px;
}

.expand-project{
  height: 70px;
  width:70px;
  background-color:rgba(255, 255, 255, 0.91);
  z-index:980;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    content: "+Read";
    font-size: .8rem;
    color:map-get($color, dark )
  }
}

/*Header*/

.header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 1rem 6.5rem 0 1.5rem;
  background-color: transparent;

  .logo {
    width: 2rem;
    cursor: pointer;
  }
  .signature {
    fill: map-get($color, universal);
    transition: 0.5s ease;
  }

  a {
    font-size: 1rem;
    letter-spacing: 0;
    transition: 0.5s ease;
  }

  li {
    display: inline-block;
    bottom: 0;
    padding: 0px 10px;
  }
}
