/*Global style*/

$color: (
  primary: #070520,
  accent: #58bfd3,
  universal: #f0f0f0,
  dark: #0a0a0a,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "Gordita", sans-serif;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: map-get($color, universal);
}

a {
  color: map-get($color, universal);
  text-decoration: none;
}
/*Header*/

.header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 1rem 6.5rem 0 1.5rem;
  background-color: transparent;

  .logo {
    width: 2rem;
    cursor: pointer;
  }
  .signature {
    fill: map-get($color, universal);
    transition: 0.5s ease;
  }

  a {
    font-size: 1rem;
    letter-spacing: 0;
    transition: 0.5s ease;
    &:hover {
      color: map-get($color, accent);
    }
  }

  .nav-link {
    list-style: none;

    li {
      display: inline-block;
      bottom: 0;
      padding: 0px 10px;
    }
  }
}

/*Side-bar*/

.sidebar {
  top: 4rem;
  width: 4rem;
  height: 100vh;
  position: fixed;
  z-index: 500;
  display: flex;
  flex-direction: column;
  .nav1 {
    order: 1;
    flex-grow: 1;
  }

  .nav2 {
    order: 2;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .bar {
      position: relative;
      background: map-get($color, universal);
      width: 1.5px;
      height: 12rem;
      border-radius: 50px;
      transition: 0.5s ease;
    }
  }

  .nav3 {
    order: 3;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      margin-bottom: 1rem;
    }

    .icon {
      fill: map-get($color, universal);
      width: 1rem;
      height: 100%;
      margin: 1.2rem 0px;
      transition: 0.5s ease;
      &:hover {
        fill: map-get($color, accent);
      }
    }
  }
}

#handler {
  fill: map-get($color, universal);
  position: absolute;
  z-index: 10;
  margin-top: -10rem;
  -webkit-box-shadow: -1px 10px 25px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 25px -13px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease;
}

/*Project intro numbering*/
.intro-number {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 10rem;
  margin: 0 0.5rem;
}

/*Project Photo with hover effect*/
.projectfoto {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.photo-zoom {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.projectfoto-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  cursor: pointer;
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.foto:hover > .photo-zoom {
  transform: scale(1.2);
}
.foto:hover > .projectfoto-overlay {
  opacity: 1;
}

/*Project background*/

.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-object {
  position: relative;
  &:nth-of-type(1) {
    width: 6rem;
    top: -16rem;
    left: 6rem;
  }
  &:nth-of-type(2) {
    width: 7rem;
    bottom: -2rem;
    left: 15rem;
  }
  &:nth-of-type(3) {
    width: 8rem;
    right: 30rem;
    bottom: 3rem;
  }
  &:nth-of-type(4) {
    width: 0.8rem;
    left: 26rem;
    top: 10rem;
  }
  &:nth-of-type(5) {
    width: 3rem;
    left: 16rem;
    top: 16rem;
  }
  &:nth-of-type(6) {
    width: 0.8rem;
    right: 47rem;
    bottom: 13rem;
  }
}

.objectback {
  margin-top: 100rem;
  transition: 1s ease-in-out;
}
.objectfront {
  margin-top: 150rem;
  transition: 1s ease-in-out;
}
.objectfarfront {
  margin-top: 200rem;
  transition: 1s ease-in-out;
}

/*Section01*/

.section1 {
  background: rgb(2, 105, 105);
  background: linear-gradient(
    180deg,
    rgba(2, 105, 105, 1) 0%,
    rgba(1, 60, 84, 1) 19%,
    rgba(1, 11, 50, 1) 48%,
    rgba(10, 10, 10, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 2;

  /*Section01 title*/
  .hero-line {
    width: 56rem;
    top: 8rem;
    left: 13rem;
    position: absolute;
    color: map-get($color, universal);
    position: 100px;
    transition: 1s ease;
    z-index: 4;

    .title {
      font-family: "Gordita", sans-serif;
      font-size: 4.5rem;
      letter-spacing: 0;
      font-weight: 500;
    }
    .subtitle {
      letter-spacing: 0;
      width: 50rem;
      display: none;
    }
  }

  /*Parallex effect*/
  .layer {
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    transition: 1s ease;
    z-index: 3;
  }
}

.button {
  display: inline-block;
  position: relative;
  margin-left: calc(50% - 66px);
  bottom:-20rem;
  z-index: 100;
  cursor: pointer;
  p{
    font-weight: 400;
  }
}

.guideline{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -45%;
  z-index: 10;
  transition: .5s ease;
  div{
    position: relative;
    width: 1.5px;
    height: 100px;
    bottom: -50%;
    background-color: map-get($color, universal);
  }
}
.button:hover + .guideline{
  bottom: -48%;
}

/*Section02*/

.section2 {
  background-color: map-get($color, dark);
  z-index: 7;
  color: map-get($color, universal);
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectsection1 {
  position: relative;
  top: 100rem;
  transition: 1s ease;
}

.projectpart1 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  z-index: 500;

  &:nth-child(1) {
    .foto {
      position: relative;
      order: 1;
      width: 55%;
      overflow: hidden;
    }
    .intro {
      order: 2;
      width: 45%;
      margin: 1.5rem 0 0 3rem;

      h2 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 6rem;
      }
    }
  }

  &:nth-child(2) {
    top: 3rem;
    .foto {
      order: 2;
      width: 55%;
      overflow: hidden;
      position: relative;
    }
    .intro {
      order: 1;
      width: 45%;
      margin: 0.5rem 3rem 0 0;
      text-align: right;
      .intro-number {
        justify-content: flex-end;
      }
      h2 {
        position: relative;
        font-size: 2.5rem;
        line-height: 4rem;
        font-weight: 700;
      }
    }
  }
}

/*Section03*/

.section3 {
  background-color: map-get($color, dark);
  z-index: 7;
  color: map-get($color, universal);
  display: flex;
  justify-content: center;
  align-items: center;
}
#projectsection2 {
  position: relative;
  top: 100rem;
  transition: 1s ease;
}

.projectpart2 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: flex;

  &:nth-child(1) {
    .foto {
      order: 1;
      width: 55%;
      overflow: hidden;
      position: relative;
    }
    .intro {
      order: 2;
      width: 45%;
      margin: 1.5rem 0 0 3rem;

      h2 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 6rem;
      }
    }
  }

  &:nth-child(2) {
    top: 3rem;
    .foto {
      order: 2;
      width: 55%;
      overflow: hidden;
      position: relative;
    }
    .intro {
      order: 1;
      width: 45%;
      margin: 0.5rem 3rem 0 0;
      text-align: right;
      .intro-number {
        justify-content: flex-end;
      }
      h2 {
        position: relative;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 700;
      }
    }
  }
}

/*Section04*/

.section4 {
  background-color: map-get($color, dark);
  z-index: 7;
  color: map-get($color, universal);
  display: flex;
  justify-content: center;
  align-items: center;
}

#prjoectsection3 {
  position: relative;
  top: 100rem;
  transition: 1s ease;
}

.projectpart3 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: flex;

  &:nth-child(1) {
    .foto {
      order: 1;
      width: 55%;
      overflow: hidden;
      position: relative;
    }
    .intro {
      order: 2;
      width: 45%;
      margin: 1.5rem 0 0 3rem;

      h2 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 6rem;
      }
    }
  }

  &:nth-child(2) {
    top: 3rem;
    .foto {
      order: 2;
      width: 55%;
      overflow: hidden;
      position: relative;
    }
    .intro {
      order: 1;
      width: 45%;
      margin: 0.5rem 3rem 0 0;
      text-align: right;
      .intro-number {
        justify-content: flex-end;
      }
      h2 {
        font-size: 5rem;
        line-height: 6rem;
        font-weight: 700;
      }
    }
  }
}

/*Contact Section*/
.section5 {
  background: rgb(2, 105, 105);
  background: linear-gradient(
    0deg,
    rgba(2, 105, 105, 1) 0%,
    rgba(1, 60, 84, 1) 19%,
    rgba(1, 11, 50, 1) 48%,
    rgba(10, 10, 10, 1) 100%
  );
  z-index: 8;
  .contact-line {
    width: 562px;
    top: 100rem;
    left: 10rem;
    position: absolute;
    color: map-get($color, universal);
    position: 100px;
    transition: 1.2s ease;
    z-index: 10;
    .title {
      font-family: "Gordita", sans-serif;
      font-size: 3rem;
      letter-spacing: 0;
      font-weight: 500;
      line-height: 72px;
    }
    .subtitle {
      font-family: "Gordita", sans-serif;
      font-size: 1.5rem;
      letter-spacing: 1px;
      line-height: 35px;
      margin-top: 1rem;
    }
  }
  .footer {
    position: absolute;
    left: 10rem;
    bottom: 1.5rem;
    .footer-line {
      border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
      width: 80vw;
    }
    .footer-claim {
      font-size: 0.8rem;
      margin-top: 1rem;
      color: map-get($color, universal);
    }
  }
}
