/*Global style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gordita", sans-serif;
  color: #E0E0E0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "Gordita", sans-serif;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: #E0E0E0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
}

/*Header*/
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  padding: 1rem 6.5rem 0 1.5rem;
  background-color: transparent;
}

.header .logo {
  width: 2rem;
  cursor: pointer;
}

.header .signature {
  fill: #E0E0E0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header a {
  font-size: 1rem;
  letter-spacing: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .nav-link {
  list-style: none;
}

.header .nav-link li {
  display: inline-block;
  bottom: 0;
  padding: 0px 10px;
}

.header .work-state {
  color: #828282;
}

/*Side-bar*/
.sidebar {
  top: 4rem;
  width: 4rem;
  height: 100vh;
  position: fixed;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .nav1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar .nav2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav2 .bar {
  position: relative;
  background: #E0E0E0;
  width: 1.5px;
  height: 12rem;
  border-radius: 50px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sidebar .nav3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav3 ul {
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar .nav3 .icon {
  fill: #E0E0E0;
  width: 1rem;
  height: 100%;
  margin: 1.2rem 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sidebar .nav3 .icon:hover {
  fill: #58bfd3;
}

#handler {
  fill: #E0E0E0;
  position: absolute;
  z-index: 10;
  margin-top: -10rem;
  -webkit-box-shadow: -1px 10px 25px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 25px -13px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*Project intro numbering*/
.intro-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 10rem;
  margin: 0 0.5rem;
}

/*Project Photo with hover effect*/
.projectfoto {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-zoom {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.projectfoto-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.projectfoto-overlay p {
  font-size: 1.5rem;
  font-weight: 400;
}

.foto:hover > .photo-zoom {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.foto:hover > .projectfoto-overlay {
  opacity: 1;
}

/*Project background*/
.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-object {
  position: relative;
}

.background-object:nth-of-type(1) {
  width: 6rem;
  top: -16rem;
  left: 6rem;
}

.background-object:nth-of-type(2) {
  width: 7rem;
  bottom: -2rem;
  left: 15rem;
}

.background-object:nth-of-type(3) {
  width: 8rem;
  right: 30rem;
  bottom: 3rem;
}

.background-object:nth-of-type(4) {
  width: 0.8rem;
  left: 26rem;
  top: 10rem;
}

.background-object:nth-of-type(5) {
  width: 3rem;
  left: 16rem;
  top: 16rem;
}

.background-object:nth-of-type(6) {
  width: 0.8rem;
  right: 47rem;
  bottom: 13rem;
}

.objectback {
  margin-top: 100rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.objectfront {
  margin-top: 150rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.objectfarfront {
  margin-top: 200rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*Section01*/
.section1 {
  background: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Section01 title*/
  /*Parallex effect*/
}

.section1 .hero-line {
  width: 22rem;
  top: 0rem;
  left: 13rem;
  position: relative;
  color: #E0E0E0;
  position: 100px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 500;
}

.section1 .hero-line .title {
  font-family: "Gordita", sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 3rem;
}

.section1 .hero-line .divide {
  margin: 1.5rem 0;
  border-bottom: 1px solid white;
  width: inherit;
}

.section1 .hero-line .subtitle {
  letter-spacing: 0;
  font-size: 1rem;
  width: 25rem;
  line-height: 1.5rem;
}

.section1 .layer {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 3;
}

.call-of-action {
  display: inline-block;
  position: absolute;
  z-index: 500;
  margin-left: calc(50% - 62px);
  margin-top: 18%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.call-of-action .scrollbutton p {
  font-weight: 500;
  cursor: pointer;
}

.call-of-action .guideline {
  background-color: #E0E0E0;
  width: 1px;
  height: 30rem;
  margin: auto;
  margin-top: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.scrollbutton:hover + .guideline {
  margin-top: 3rem;
}

.maincharactor {
  display: none;
}

/*Section02*/
.section2 {
  background-color: #0a0a0a;
  z-index: 7;
  color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projectsection1 {
  position: relative;
  top: 100rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.projectpart1 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 500;
}

.projectpart1:nth-child(1) .foto {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 55%;
  overflow: hidden;
}

.projectpart1:nth-child(1) .intro {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 45%;
  margin: 1.5rem 0 0 3rem;
}

.projectpart1:nth-child(1) .intro h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.projectpart1:nth-child(2) {
  top: 3rem;
}

.projectpart1:nth-child(2) .foto {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 55%;
  overflow: hidden;
  position: relative;
}

.projectpart1:nth-child(2) .intro {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 45%;
  margin: 0.5rem 3rem 0 0;
  text-align: right;
}

.projectpart1:nth-child(2) .intro .intro-number {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectpart1:nth-child(2) .intro h2 {
  position: relative;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 700;
}

/*Section03*/
.section3 {
  background-color: #0a0a0a;
  z-index: 7;
  color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projectsection2 {
  position: relative;
  top: 100rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.projectpart2 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectpart2:nth-child(1) .foto {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 55%;
  overflow: hidden;
  position: relative;
}

.projectpart2:nth-child(1) .intro {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 45%;
  margin: 1.5rem 0 0 3rem;
}

.projectpart2:nth-child(1) .intro h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.projectpart2:nth-child(2) {
  top: 3rem;
}

.projectpart2:nth-child(2) .foto {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 55%;
  overflow: hidden;
  position: relative;
}

.projectpart2:nth-child(2) .intro {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 45%;
  margin: 0.5rem 3rem 0 0;
  text-align: right;
}

.projectpart2:nth-child(2) .intro .intro-number {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectpart2:nth-child(2) .intro h2 {
  position: relative;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

/*Section04*/
.section4 {
  background-color: #0a0a0a;
  z-index: 7;
  color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#prjoectsection3 {
  position: relative;
  top: 100rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.projectpart3 {
  width: 70vw;
  height: 13rem;
  top: -2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectpart3:nth-child(1) .foto {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 55%;
  overflow: hidden;
  position: relative;
}

.projectpart3:nth-child(1) .intro {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 45%;
  margin: 1.5rem 0 0 3rem;
}

.projectpart3:nth-child(1) .intro h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
}

.projectpart3:nth-child(2) {
  top: 3rem;
}

.projectpart3:nth-child(2) .foto {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 55%;
  overflow: hidden;
  position: relative;
}

.projectpart3:nth-child(2) .intro {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 45%;
  margin: 0.5rem 3rem 0 0;
  text-align: right;
}

.projectpart3:nth-child(2) .intro .intro-number {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectpart3:nth-child(2) .intro h2 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
}

/*Contact Section*/
.section5 {
  background-color: #0a0a0a;
  z-index: 8;
}

.section5 .contact-line {
  width: 562px;
  top: 100rem;
  left: 10rem;
  position: absolute;
  color: #E0E0E0;
  position: 100px;
  -webkit-transition: 1.2s ease;
  transition: 1.2s ease;
  z-index: 10;
}

.section5 .contact-line .title {
  font-family: "Gordita", sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 72px;
}

.section5 .contact-line .subtitle {
  font-family: "Gordita", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 35px;
  margin-top: 1rem;
}

.section5 .footer {
  position: absolute;
  left: 10rem;
  bottom: 1.5rem;
}

.section5 .footer .footer-link {
  display: inline-block;
  margin-bottom: .8rem;
}

.section5 .footer .footer-link p {
  display: inline;
  font-size: 1.2rem;
  margin-right: 2rem;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section5 .footer .footer-link p:hover {
  color: #58bfd3;
}

.section5 .footer .footer-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 80vw;
}

.section5 .footer .footer-claim {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #E0E0E0;
}
/*# sourceMappingURL=main.css.map */