@import "main";

/*Global Style*/

body {
    color: map-get($color, universal);
    background: rgb(40, 40, 40);
    background: radial-gradient(circle, rgba(40, 40, 40, 1) 0%, rgba(10, 10, 10, 1) 43%);
}

a {
    color: map-get($color, universal);
}

/*Header*/
.logo {
    circle {
        transition: 0.5s ease;
    }
}

.logo:hover {
    circle {
        fill: map-get($color, accent);
        stroke: map-get($color, accent);
    }
}
.work-state {
    cursor: none;
}

.about-state:hover {
    transform: scale(1.2);
}

.current {
    background-color: map-get($color, universal);
}

/*Side bar*/

.side-bar {
    .bar {
        background-color: map-get($color, universal);
    }
    .handler {
        background-color: map-get($color, universal);
    }
}

.handler::before {
    content: attr(data-text);
    display: block;
    position: relative;
    font-size: 12px;
    right: 1.2rem;
}

/*Footer bar*/
.icon {
    fill: map-get($color, universal);
}
.guilding-line {
    background-color: map-get($color, universal);
}
.guilding-line::before {
    background-color: map-get($color, universal);
}

.guilding-line::after {
    right: 0;
    border-left: 9px solid map-get($color, universal);
}

/*Landing Section*/
.intro-strip {
    width: 65vw;
    margin: 0 auto;
}

/*Project Section*/
/*Project intro numbering*/

.intro-number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}
.number-line {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
    width: 8rem;
    margin: 0 0.5rem;
}

/*Project part*/

.project-strip {
    width: 72vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    .project-title {
        width: 33%;
        text-align: end;
        .project-tag {
            font-weight: 400;
        }
    }
    .project-img {
        width: 33%;
        margin: 0 4rem;
    }
    .project-info {
        width: 33%;
        .project-intro {
            width: 90%;
        }
    }
}

.project-shpere {
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.project-pop {
    transform: translateZ(20px);
    img {
        width: 25rem;
    }
}

.section1 {
    .project-shpere {
        background-color: map-get($color, universal);
        .project-pop {
            margin-top: 5rem;
        }
    }
}

.section2 {
    .project-shpere {
        background-color: map-get($color, klm);
        .project-pop {
            margin-top: 3rem;
        }
    }
}

#pro-title {
    font-size: 2.4rem;
}

.section3 {
    .project-shpere {
        background-color: #e0be53;
        .project-pop {
            margin-top: 3rem;
        }
    }
}

.section4 {
    .project-shpere {
        background-image: url(../img/project-04.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .project-pop {
            margin-top: 3rem;
        }
    }
}

@media screen and (max-width: 800px) {
    /*Header*/
    .hamburger-line {
        background-color: map-get($color, universal);
    }
    .nav-link {
        background-color: map-get($color, dark);
    }

    /*side bar*/

    /*Main section*/
    .section0 {
        height: 100vh;
    }

    .intro-number {
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }

    .project-strip {
        width: 60vw;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        .project-title {
            width: 100%;
            text-align: start;
        }
        .project-img {
            width: 100%;
            padding: 3rem 0;
        }
        .project-info {
            width: 100%;
            text-align: center;
            margin: 0;
            .project-intro {
                width: 100%;
            }
        }
    }
    .project-shpere {
        width: 50vw;
        height: 50vw;
    }
    .project-pop {
        transform: translateZ(20px);
        img {
            width: 15rem;
        }
    }

    #pro-title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .section1,
    .section2,
    .section3 {
        .project-shpere {
            .project-pop {
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    /*Footer bar*/
    .footerbar {
        background-color: map-get($color, dark);
    }
}
