/*Global style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gordita", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*Page transition*/
.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  pointer-events: none;
}

.loading-logo {
  position: relative;
  margin-top: 3px;
  margin-right: 2px;
  width: 3.5rem;
  overflow: none;
  z-index: 100;
  mix-blend-mode: difference;
}

.loading-sphere {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  -webkit-overflow: hidden;
  overflow: hidden;
  z-index: 2;
}

.loading-sphere::after {
  content: "";
  width: 9rem;
  height: 9rem;
  display: block;
  background-color: #e0e0e0;
  position: relative;
  border-radius: 45%;
  left: -20%;
  z-index: 1;
  -webkit-animation: spin 1.5s ease-in-out forwards;
          animation: spin 1.5s ease-in-out forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(100%) rotate(0deg);
            transform: translateY(100%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(500deg);
            transform: translateY(0) rotate(500deg);
  }
}

/*Cursor*/
.cursor {
  height: 10px;
  width: 10px;
  border: 1.5px solid;
  border-color: transparent;
  background-color: #58bfd3;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  pointer-events: none;
}

.expand {
  background: transparent;
  border-color: #58bfd3;
  height: 50px;
  width: 50px;
}

.expand-project {
  height: 70px;
  width: 70px;
  background-color: rgba(255, 255, 255, 0.91);
  z-index: 980;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand-project::after {
  content: "+Read";
  font-size: 0.8rem;
  color: #0a0a0a;
}

/*Header*/
.header {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 999;
  padding: 2rem 6.5rem 0.5rem;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .logo {
  margin-top: 1.5rem;
  width: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1000;
}

.header a {
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header li {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 1rem;
}

.current {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  margin: 0 auto 0.3rem;
}

/*Side-Bar*/
.side-bar {
  position: fixed;
  width: 3rem;
  height: 60vh;
  margin: 8rem 0 0 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.side-bar .bar {
  position: relative;
  width: 1px;
  height: 10rem;
  background-color: #e0e0e0;
  margin-bottom: 1rem;
}

.handler {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-bottom: 10rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/*Footer Bar*/
.footerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 7rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1000;
}

.footerbar li {
  display: inline;
}

.footerbar .icon {
  width: 1.2rem;
  margin-right: 3rem;
}

.page-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-action .guilding-line {
  position: relative;
  width: 9rem;
  height: 1px;
  margin-right: 1rem;
  z-index: 2;
}

.page-action p {
  font-weight: 500;
}

.guilding-line::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  z-index: 10;
  bottom: -5px;
}

.guilding-line::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: -5px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  z-index: 15;
}

/*Contact Section*/
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .cursor {
    display: none;
  }
  /*Responsive header*/
  .header {
    padding: 0.5rem 3rem 0.5rem 1rem;
  }
  .header .logo {
    width: 2.5rem;
  }
  nav {
    position: relative;
    right: -3rem;
  }
  .hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0.6rem;
    z-index: 1000;
    cursor: pointer;
  }
  .hamburger .hamburger-line {
    width: 1.8rem;
    height: 2px;
    margin-top: 0.5rem;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  .hamburger-line1-toggle {
    margin-right: 0.5rem;
  }
  .hamburger-line2-toggle {
    margin-left: 0.5rem;
  }
  .nav-link {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -100rem;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .nav-link .work-state {
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  .nav-link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
  .current {
    width: 2rem;
    height: 1px;
    border-radius: 0;
    margin-left: -2.5rem;
    margin-right: 0.5rem;
  }
  .nav-link-scroll {
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  /*Gloabal style*/
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  /*Header*/
  .header {
    padding-right: 4rem;
  }
  .header .logo {
    width: 2rem;
  }
  /*SideBar*/
  .side-bar {
    display: none;
  }
  /*FooterBar*/
  .footerbar {
    padding: 1.2rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footerbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerbar .icon {
    margin-right: 0;
    margin: 0 3rem;
  }
  .page-action {
    display: none;
  }
}

/*Global Style*/
body {
  color: #e0e0e0;
  background: #282828;
  background: radial-gradient(circle, #282828 0%, #0a0a0a 43%);
}

a {
  color: #e0e0e0;
}

/*Header*/
.logo circle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logo:hover circle {
  fill: #58bfd3;
  stroke: #58bfd3;
}

.work-state {
  cursor: none;
}

.about-state:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.current {
  background-color: #e0e0e0;
}

/*Side bar*/
.side-bar .bar {
  background-color: #e0e0e0;
}

.side-bar .handler {
  background-color: #e0e0e0;
}

.handler::before {
  content: attr(data-text);
  display: block;
  position: relative;
  font-size: 12px;
  right: 1.2rem;
}

/*Footer bar*/
.icon {
  fill: #e0e0e0;
}

.guilding-line {
  background-color: #e0e0e0;
}

.guilding-line::before {
  background-color: #e0e0e0;
}

.guilding-line::after {
  right: 0;
  border-left: 9px solid #e0e0e0;
}

/*Landing Section*/
.intro-strip {
  width: 65vw;
  margin: 0 auto;
}

/*Project Section*/
/*Project intro numbering*/
.intro-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.number-line {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  width: 8rem;
  margin: 0 0.5rem;
}

/*Project part*/
.project-strip {
  width: 72vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.project-strip .project-title {
  width: 33%;
  text-align: end;
}

.project-strip .project-title .project-tag {
  font-weight: 400;
}

.project-strip .project-img {
  width: 33%;
  margin: 0 4rem;
}

.project-strip .project-info {
  width: 33%;
}

.project-strip .project-info .project-intro {
  width: 90%;
}

.project-shpere {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.project-pop {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.project-pop img {
  width: 25rem;
}

.section1 .project-shpere {
  background-color: #e0e0e0;
}

.section1 .project-shpere .project-pop {
  margin-top: 5rem;
}

.section2 .project-shpere {
  background-color: #4b9aaa;
}

.section2 .project-shpere .project-pop {
  margin-top: 3rem;
}

#pro-title {
  font-size: 2.4rem;
}

.section3 .project-shpere {
  background-color: #e0be53;
}

.section3 .project-shpere .project-pop {
  margin-top: 3rem;
}

.section4 .project-shpere {
  background-image: url(../img/project-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section4 .project-shpere .project-pop {
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  /*Header*/
  .hamburger-line {
    background-color: #e0e0e0;
  }
  .nav-link {
    background-color: #0a0a0a;
  }
  /*side bar*/
  /*Main section*/
  .section0 {
    height: 100vh;
  }
  .intro-number {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
  .project-strip {
    width: 60vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  .project-strip .project-title {
    width: 100%;
    text-align: start;
  }
  .project-strip .project-img {
    width: 100%;
    padding: 3rem 0;
  }
  .project-strip .project-info {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .project-strip .project-info .project-intro {
    width: 100%;
  }
  .project-shpere {
    width: 50vw;
    height: 50vw;
  }
  .project-pop {
    -webkit-transform: translateZ(20px);
            transform: translateZ(20px);
  }
  .project-pop img {
    width: 15rem;
  }
  #pro-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .section1 .project-shpere .project-pop,
  .section2 .project-shpere .project-pop,
  .section3 .project-shpere .project-pop {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  /*Footer bar*/
  .footerbar {
    background-color: #0a0a0a;
  }
}
/*# sourceMappingURL=new.css.map */