@import "project";

/*Project nav*/

.left-button:hover > .nav-button-col2 > a > p {
  right: 0rem;
  margin-top: 3rem;
  transform: rotate(0deg);
  span {
    display: none;
  }
  &::after {
    content: "GMC";
    font-size: 1.2rem;
  }
}

.right-button:hover > .nav-button-col1 > a > p {
  right: 0rem;
  margin-top: 3rem;
  transform: rotate(0deg);
  span {
    display: none;
  }
  &::after {
    content: "KLM";
    font-size: 1.2rem;
  }
}

.logo-strip {
  width: 65vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .logo-sec {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .logo1 {
    width: 15rem;
  }
  .logo2 {
    height: 7.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}

.download {
  display: flex;
  align-items: flex-end;
  width: 40rem;
  .download-button{
    fill:map-get($color, universal);
    width:2rem;
  }
  p{
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration: underline;
    font-weight: 500;
  }

}

.full-image-strip {
  background-image: url(../img/Project/SUPPER/supper-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 40vh;
  margin: 5rem 0;
}

.cj-strip {
  width: 80vw;
}

#communication_journey {
  width: 70vw;
  margin: 0 auto;
}

#finnalbanner {
  background-color: map-get($color, dark);
}
